<div class="top-row ps-3 navbar">
    <div class="container-fluid d-flex justify-content-center">
        <span class="navbar-brand text-white">TaskMaster</span>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable border-end" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home"></span> @Localizer["dashboard"]
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="projects">
                <span class="oi oi-folder"></span> @Localizer["projects"]
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tasks">
                <span class="oi oi-task"></span> @Localizer["tasks"]
            </NavLink>
        </div>
        <AuthorizeView Roles="ADMIN">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="reports">
                    <span class="oi oi-bar-chart"></span> @Localizer["reports"]
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="users">
                    <span class="oi oi-people"></span> @Localizer["users"]
                </NavLink>
            </div>
        </AuthorizeView>
    </nav>
</div>

@code {

    [Inject]
    public IStringLocalizer<Resource> Localizer { get; set; } = default!;

    private bool _collapseNavMenu = true;

    private string? NavMenuCssClass => _collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }

}